/* .listmovie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  width:83%;
  padding: 0px;
} */

.parent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 90px;
  padding: 0px 35px 20px 0px;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -110px;
}
