/* .movies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
} */

/* .App{
  overflow-y: hidden;
} */

.titre h1 {
  color: #e50914;
  margin: 10px;
  text-align: center;
  font-size: 4rem ;
  font-weight: 700;
  margin: 75px 0px -20px 0px
}

.titre h2 {
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 3rem ;
  font-weight: 700;
  margin: 75px 0px -20px 0px
}

/* .titre {
  width: 1300px;
} */

/* .parent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0px 35px 20px 0px;
} */

#line {
  flex-basis: 100%;
  border: none;
  height: 1px !important;
  background: white;
  width: 80%;
  margin: 35px auto -35px auto;
}